
.icon-user:before { content: '\e800'; } /* '' */
.icon-star-filled:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */